[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "binGroup2"]
	path = binGroup2
	url = https://github.com/cran/binGroup2
	shallow = true
	registered = true
